:root{
    --background: #343330;
    --primary: #DC851F;
    --secondary: #45462A;
    --dark: #7E5920;
    --light: #FFA737;
}
.img--responsive{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.main{
    padding: 2em;
    margin: 1em;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    flex-grow: 1;
    flex-basis: 99%;
}
.header__nav{
    flex-grow: 1;
    display: flex;
    gap: 1em;
    justify-content: center;
}
.header__link{
    background-color: var(--primary);
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 2em;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
a:hover{
    background-color: var(--light);
}
.header__title{
    font-size: 3em;
    margin: 0;
}
.main__picture{
    border-radius: 1em;
    overflow: hidden;
}
.main__title{
    font-size: 3.5em;
    margin: 0;
}
.main__speaker{
    font-size: 1.5em;
}
.main__story{
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    gap: 1em;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) rgba(255, 255, 255, 0);
}
.story--large{
    grid-column: 1 / -1;
}
.main__text{
    background-color: var(--dark);
    padding: 2em;
    border-radius: 1em;
}
.main__reactions{
    list-style: none;
    background-color: var(--dark);
    border-radius: 1em;
    margin: 0;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 1em;
}
.main__link{
    border-radius: 2em;
    display: block;
    background-color: var(--primary);
    text-align: center;
    text-decoration: none;
    padding: 1em;
    color: white;
}
html{
    font-family: Libre Baskerville;
    color: white;
}
body{
    background-color: var(--background);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.warning{
    padding: 1em;
    background-color: var(--secondary);
}
h1, h2, h3{
    font-family: Pirata One;
}
@media only screen and (min-width: 420px) {
    .main__reactions{
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
}
@media only screen and (min-width: 645px) {
    .header__nav{
        justify-content: left;
    }
}
@media only screen and (min-width: 960px) {
    .main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: calc(100vh - 61px - 16px * 3);
    }
}